# Quarto
/_book/
**/.quarto/
**/_freeze/
**/*.quarto_ipynb
*.html
/presentations/.gitignore

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[codz]
.ids/
.venv/
venv/

# Local configuration and credentials
.env
.envrc

# Editor and operating system files
.DS_Store
.vscode/

/.quarto/
